<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${sd:pattern}" />
		</Console>
		<File name="File" fileName="obstm.log">
			<PatternLayout pattern="${sd:pattern}" />
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>
